/* Google fonts import () */


/* Common CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  /* Fonts Family */
  --font-family-primary: 'Poppins', sans-serif;
  --font-family-secondary: 'Montserrat', sans-serif;

  /* Colors */
  --color-primary: #333;
  --color-secondary: #fff;
  --color-tertiary: #f8f9fa;
  --color-quaternary: #f5f6f7;
  --color-light: #f8f9fa;
}

html, body {
  font-size: 1rem;
  font-family: var(--font-family-primary);
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  html, body {
    font-size: 0.875rem;
  }
}

/* Headline Tag */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-primary);
  font-weight: 500;
  line-height: 1.3;
}
p {
  font-size: 1.1429rem;
}

/* Anchor Tag */
a {
  color: var(--color-light);
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: blue;
}

/* Common */
.call-to-action {
  color: var(--color-primary);
  background: var(--color-secondary);
  border-color: var(--color-secondary);
  padding: 15px 38px;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-family: var(--font-family-primary);
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.call-to-action:hover,
.call-to-action:focus {
  color: var(--white);
  background: transparent;
  border-color: var(--white);
}