.co-container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
}

.co-container h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.search-comp {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.refresh-button {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.refresh-button:hover {
  background-color: #e0e0e0;
}

.autocomplete-suggestions {
  list-style: none;
  /* margin: 1px 0 0; */
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.autocomplete-suggestions li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: #f0f0f0;
}

.table-wrapper {
  overflow: hidden;
  border-radius: 20px 20px 10px 10px;
}

.company-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1em;
  font-family: "Arial", sans-serif;
}

.company-table table {
  width: 100%;
  border: 1px solid #ddd;
}

.company-table th,
.company-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.company-table th {
  background-color: #000000af;
  font-weight: bold;
  color: white;
}

.company-table tr {
  background-color: #f9f9f9;
}

.company-table tr:hover {
  background-color: #f1f1f1;
}

.spacing {
  text-align: center;
}

.update-delete {
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
}

.update-delete div:first-child:hover {
  cursor: pointer;
  color: rgb(60, 166, 201);
}

.update-delete div:last-child:hover {
  cursor: pointer;
  color: red;
}
