:root {
  --primary-color: rgba(0, 140, 255, 1);
}

body {
  background-image: url("./assets/Images/Group_29.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: var(--primary-color);
  padding: 10px;
}

nav h1 {
  text-align: center;
}

nav h1:hover {
  cursor: pointer;
}

header .logo > img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
}

h1 {
  text-align: center;
}

#nav-bar {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  gap: 3em;
}

#nav-bar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
