* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.billing-form {
  margin-top: 5%;
  width: 50%;
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.billing-form h1 {
  margin: 0.2em 3em;
  text-align: center;
  color: #3e8fda;
}

form {
  margin: 10px;
  padding: 10px;

  & label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 20px;
    color: #3e8fda;
  }

  & input {
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 2px;
  }
}

.matkg {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;

  & button {
    height: 40px;
    margin-top: 25px;
    border-radius: 10px;
    width: 80px;
    padding: 1px;
    color: black;
    font-weight: bold;
    background: rgb(247, 124, 124);
  }
}

.center-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;

  & div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  & button {
    /* border: 5px solid green; */
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: rgb(147, 204, 255);
    width: 120px;
    font-weight: 600;
    padding: 2px;
  }
}
